body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family:'Floane';
  src:url('asserts/Fonts/Floane-Regular.otf') format('TrueType');
}

@font-face {
  font-family: 'XiaoWei';
  src:url('asserts/Fonts/xiaowei.ttf') format('TrueType');
}

@font-face {
  font-family: 'Montserrat';
  src:url('asserts/Fonts/Montserrat-Light.otf') format('TrueType');
}
@font-face {
  font-family: 'MontserratLight';
  src:url('asserts/Fonts/Montserrat-ExtraLight.otf') format('TrueType');
}
